.flashcard {
  width: 185px;
  height: 250px;
  perspective: 1000px;
  cursor: pointer;
  text-overflow: ellipsis;
  margin: 10px;
  transition: transform 0.6s;
}

.card-inner {
  width: 185px;
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  



  text-align: center;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  backface-visibility: hidden;
}

.card-front {
  background-color: #000000;
  border: 4px solid #D41F30;
}

.card-back {
  background-color: #000000;
  border: 4px solid #D41F30;
  transform: rotateY(180deg);
}

.flashcard.focused {

  transform: scale(1.2);
  /* Enlarge the card when focused */
}

.card-inner.flipped {
  transform: rotateY(180deg);
  /* Flip card */
}

.flashcard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url('flashcardbg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #fff;
  position: relative;
}

.overlay-active .overlay {
  display: block;
  /* Show overlay when a card is focused */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  /* Black overlay */
  z-index: 1000;
  display: none;
  /* Hide by default */
}

.flashcard-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  /* Ensure it's above the overlay */
}

.modal-content {
  position: relative;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  padding: 20px;
}

.navigation {
  left: 0px;
  position: absolute;
  bottom: -200px;
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
}

.navigation button {
  background-color: #000000;
  color: #fff;
  font-size: 18px;
}